# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Logs
*.log
.logs/

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# OS specific
.DS_Store
Thumbs.db

# Docs
.docs

# Tests
tests/
